.navbar {
    background-color: rgb(252, 252, 76);
  }

.error{
    font-size: 150px;
    text-align: center;
    margin-top: 150px;
}

.error1{
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.content2{
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.buton{
    align-items: center;
    text-align: center;
    justify-content: center;
}