<!-- Navbar -->
<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <span>RegistrApp</span>
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>

<h1 class="title">Datos de la asignatura</h1>
<h1 class="subtitle">Nombre: Programacion de aplicaciones moviles </h1>
<h1 class="subtitle">sigla: {{ datos.sigla }}</h1>
<h1 class="subtitle">Seccion: {{ datos.seccion }}</h1>

<div class="boton"><ion-button fill="clear" style="color: rgb(252, 252, 76)" (click)="abrirCorreo()">Marcar asistencia</ion-button></div>
<div class="boton"><ion-button fill="clear" style="color: rgb(252, 252, 76)" (click)="volver()">Volver</ion-button></div>


</ion-content>