.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

.title{
    text-align: center;
    font-weight: bold;
}

.link{
    justify-content: center;
    align-items: center;
    text-align: center  ;
}