.navbar {
    background-color: rgb(252, 252, 76);
    margin-bottom: 40px;
  }

  .title{
    text-align: center;
    font-size: 33px;
  }

  .card{
    margin-top: 70px;
  }

  .boton{
    text-align: center;
    margin-top: 50px;
  }
  